@import "base/reset";
@import "base/fonts";
@import "base/mixins";
@import "base/variables";
body {}

.container {
  background-color: rgb(95, 46, 46);
  padding: 25px;
  margin: 0 auto;
  width: 100%;
  min-height: 700px;
  display: flex;
  justify-content: space-around;
  #searchSection {
    width: 50%; //  border: 1px solid gray;
    padding: 5px;
    h1 {
      width: 100%;
      padding: 5px;
      color: rgb(179, 153, 153);
    }
    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 5px;
      input[type="text"] {
        width: 90%;
        border-radius: 2px;
        margin: 5px;
      }
      input[type="submit"] {
        width: 90%;
        color: #fff;
        background-color: rgb(199, 132, 132);
      }
    }
    ul {
      width: 90%;
      padding: 5px;
      margin: 0 auto;
      li {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        a.favIcon {
          width: 20px;
          height: 40px;
          position: relative;
          margin-right: 15px;
          &:hover {
            color: rgb(194, 11, 11);
          }
          &::after {
            @include pseudo($content: "\e801");
            font-family: "my-custom-icons";
            font-size: 20px;
            left: 0;
            top: 0;
          }
        }
        a.favIconActive {
          width: 20px;
          height: 40px;
          position: relative;
          margin-right: 15px;
          &:hover {
            color: rgb(194, 11, 11);
          }
          &::after {
            @include pseudo($content: "\e802");
            font-family: "my-custom-icons";
            color: rgb(194, 11, 11);
            font-size: 20px;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }
}

#savedSection {
  width: 50%;
  min-height: 70%;
  border-radius: 2px; // border: 1px lightgray solid;
  h1 {
    width: 100%;
    padding: 5px;
    color: rgb(179, 153, 153);
  }
  #SavedlistHolder {
    padding: 5px;
    width: 90%;
    margin-top: 18px;
    li {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      .delete_btn {
        width: 20px;
        height: 40px;
        position: relative;
        margin-right: 15px;
        &:hover {
          color: rgb(194, 11, 11);
        }
        &::after {
          @include pseudo($content: "\e803");
          font-family: "my-custom-icons";
          font-size: 20px;
          left: 0;
          top: 0;
        }
      }
    }
  }
}