@import "base/reset";
@import "base/fonts";
@import "base/mixins";
@import "base/variables";

body {
  background-color: $bodybg;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  h1 {
    width: 100%;
  }
  #searcharia {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

    #inputElement {
      width: 75%;
      margin: 5px;
    }

    #btn {
      width: 20%;
      outline: 0;
      border: 0;
      background-color: lightblue;
      position: relative;
      &::after {
        @include pseudo($content: "\e800");
        font-family: "my-custom-icons";
        left: 45%;
        top: 25%;
      }
    }
  }
  #searchSection {
    width: 50%;
    min-height: 150px;
    border: 1px lightgray solid;
    border-radius: 2px;
    // background-color: #00f;
  }
  #savedSection {
    width: 50%;
    min-height: 70%;
    border: 1px lightgray solid;
    border-radius: 2px;
    //background-color: #0f0;
    h1 {
      width: 100%;
      padding: 5px;
    }
    ul {
      width: 90%;

      li {
        display: flex;
        justify-content: space-between;
        border: 1px rgb(163, 163, 214) solid;

        padding: 5px;
        .delete_btn {
          width: 20px;
          height: 40px;
          position: relative;
          margin-right: 15px;

          &::after {
            @include pseudo($content: "\e803");
            font-family: "my-custom-icons";
            font-size: 20px;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }
}
